<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Account">
	    <setting label="Email" type="text" id="email"/>
	    <setting label="Password" type="text" id="password" option="hidden" />
	</category>
    <category label="Advanced">
        <setting label="Language" id="lang" type="select" values="English|Japanese" default="English"/>
    </category>
</settings>

